.vartablehide { display: none !important; }
table.vartable td, table.vartable th { padding: 5px; }
span.instock { color: #449D44;  }
span.outofstock { color: #D9534F;  }
span.lowstock { color: #F0AD4E;  }
.qtycol input { width: 60px; }
.cartcol { position: relative; }
.added2cartwrap { 
  display: inline-block;
  background-color: #449D44;
  padding: 0 6px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.added2cart { color: #ffffff;  }
.added2cartglobal { color: #449D44; display: none; display: none; float: right; margin-right: 5px; margin-top: 8px; }
.globalcartbtn, .vartable_selectall { float: right; cursor: pointer; clear: right; overflow-y: auto; zoom: 1; }

.vtspinner img { width: 16px; height: 16px;   vertical-align: baseline; }

.vtspinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  float: right;
  margin-right: 5px;
  margin-top: 8px;
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 1.3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
  display: none;
}


.qtywrap {
  width: 100px;
  background-color: #dedede;
  clear: both;
  overflow-y: auto;
}

.qtywrap input {
  margin: 0;
  padding: 0;
  float: left;
  text-align: center;
}

.qtywrap>div {
  float: left;
  width: 20px;
  text-align: center;
  font-weight: bold;
  height: 100%;
  padding: 1px 0;
  cursor: pointer;
}


.product.has-default-attributes.has-children>.images {
  opacity: 1;
}

@-webkit-keyframes spinnerRotate {
	from {
		-webkit-transform:rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
	}
	to {
		-webkit-transform:rotate(360deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
	}
}

.is_sortable th {
  cursor: pointer;
}

.gc_wrap {
  clear: both;
  overflow: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  
  table.vartable thead { display: none; }
  table.vartable { max-width; 100%; }
  table.vartable tr { display: block; width: 100%; border-bottom: 2px solid #6C6360; }

  table.vartable td { display: block; width: 100%; clear: both; text-align: right; }
  table.vartable td.pricecol { max-width: 100%; }
  table.vartable td span { display: inline; }
  
  table.vartable td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}